# PAUSE RESUME
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

# BUILD THE BED MESH
[gcode_macro G29]
description: Create bed leveling mesh
gcode:
  G28
  BED_MESH_CALIBRATE
  # G0 X360 Y360 Z10 F6000
  G0 X0 Y0 Z10 F6000
  BED_MESH_PROFILE SAVE=default
  SAVE_CONFIG

# LOAD FILAMENT
[gcode_macro M701]
description: Load filament
gcode:
  SAVE_GCODE_STATE NAME=loading_filament
  M117 Load Filament
  M83
  G92 E0.0
  LOW_TEMP_CHECK
  G1 E420 F3000  # length of bowden tube till cold-end (~420mm) 
  G1 E50 F200  # some extra to prime the nozzle --> slower 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=loading_filament

# UNLOAD FILAMENT
[gcode_macro M702]
description: Unload filament
gcode:
  SAVE_GCODE_STATE NAME=unloading_filament
  M125 # park
  M117 Unloading Filament 
  LOW_TEMP_CHECK
  G91 # set relative
  G1 E10 F100 
  G92 E0.0
  G1 E-450 F3000 # the E is the length of the bowden tube (420mm) + 100 mm. 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=unloading_filament

# FILAMENT CHANGE
[gcode_macro M600]
description: Change filament
gcode:
  M117 Filament Change
  M118 Filament Change
  SAVE_GCODE_STATE NAME=filament_change
  PAUSE
  LOW_TEMP_CHECK
  G91 # relative
  G1 E-1 F300 # retract 1
  M125 # park
  G1 E-350 F4000
  RESTORE_GCODE_STATE NAME=filament_change

#=====================================================
# START AND END PRINT
#=====================================================
# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.
[gcode_macro START_PRINT]
gcode:
    {% set T_BED = params.T_BED|default(50) %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(197) %}
    M117 Homing
    # Use absolute coordinates
    G92

    M117 Waiting for temperature
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    G28 ; Home all axes
    # BED_MESH_CALIBRATE  # FIXME: maybe try uncommenting this line 
    BED_MESH_PROFILE LOAD=default
    
    # Prime line
    PRIME_LINE
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    # move z up
    G91
    G1 E-3 Z+5 F3000
    G1 E-15 F1500
    # absolute xy 
    G90
    G1 X5 Y220 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X1.1 Y20.0 Z0.28 F5000.0 ;Move to start position
    G1 X1.1 Y215.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X1.4 Y215.0 Z0.28 F5000.0 ;Move to side a little
    G1 X1.4 Y20.0 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up


# Bring bed to front
[gcode_macro GO_TO_FRONT]
gcode:
  G28
  G1 X220.0 Y220.0 Z20.0 ; Move bed